# The `intern` library is used for string interning for symbols.
# Used modules:
# - symbols
[submodule "src/intern"]
	path = src/intern
	url = https://github.com/chriso/intern
[submodule "src/tinydir"]
	path = src/tinydir
	url = https://github.com/cxong/tinydir
[submodule "src/stb"]
	path = src/stb
	url = https://github.com/nothings/stb
[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/llvm/llvm-project
