# The `intern` library is used for string interning for symbols.
# Used modules:
# - symbols
[submodule "dep/intern"]
	path = dep/intern
	url = https://github.com/chriso/intern
[submodule "dep/tinydir"]
	path = dep/tinydir
	url = https://github.com/cxong/tinydir
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb
[submodule "dep/utf8proc"]
	path = dep/utf8proc
	url = https://github.com/JuliaStrings/utf8proc
[submodule "dep/llvm-project"]
	path = dep/llvm-project
	url = https://github.com/llvm/llvm-project
